/* Media queries not working for background image selection */

@media (max-width: 480px) {

	#top-image {
		background-image: url(/img/banner-bg-MOB.jpg);
		background-size:contain;
	}
}


@media (min-width: 480px) {

	#top-image {
		background-image: url(/img/banner-bg.jpg);
		background-size:contain;
		width:100%;
		height: 100%;
		display: block;
	}
}  




body {
	font-family: 'Poppins', sans-serif;
	margin: 0;
}

#banner {
	height: 40%;
}
#main {
	max-height: 40%;
	min-height: 40%;
	margin: 2%;
}
#footer {
 	max-height: 20%;
 	text-align: center;
  	position: absolute;
  	left: 50%;
 	transform: translate(-50%, -50%);
}

#top-image {
	width: 100%;
	height: 40%;
	background-position: center;
	background-size: cover;
	position: relative;
}

#top-text {

	text-align: center;
  	position: absolute;
  	top: 10%;
  	left: 50%;
 	transform: translate(-50%, -50%);
  	color: white;
}

#create-account {
	padding: 4px 40px 4px 40px;
	font-weight: 800;
	background-color: #ffbf00;
	border-radius: 5px;
	border: 2px solid #ffbf00;
}

#sub {
	margin-left: 10px;
	padding: 4px 20px 4px 20px;
	font-weight: 600;
	background-color: red;
	border-radius: 5px;
	border: 2px solid red;
	color: white;
}

.container {
	display: flex;
	flex-flow: column wrap;
	max-height: 600px;
}

.flex-item {
	width: 45%;
	min-height: 50px;
	background-color: white;
	margin: 10px;
	border: 1px solid gray;

}

#payment-method {
	height: 50px;
	padding-top: 20px;
	background-color:gray;
	text-align: center;

}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}